/* nav {
  display: flex;
  justify-content: center;
} */

.container_page {
  display: flex;
  justify-content: center;
}
.container_page li {
  list-style: none;
}

.primera1 {
  display: none;
}
.primera {
  color: aliceblue;
}
